
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="~/Content/Aluno/Index.css" />
    <link rel="icon" href="~/Resources/estudanteIcone.png" />
</head>
<body>


    <div class="div-topo">
        <div id="div1">
            <img src="~/Resources/estudante.png"
        </div>
        <div id="div2">
            <label id="label-informacao" for="campo-nome">Lista de Alunos</label>
        </div>
        <div id="div3">
            <a id="botao-cadastrar" href="/aluno/cadastrar">Cadastrar Aluno</a>
        </div>
    </div>





    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Ação</th>
            </tr>

        </thead>

        <tbody>
            @for (int i = 0; i < @ViewBag.Alunos.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Alunos[i].Id</td>
                    <td>@ViewBag.Alunos[i].Nome</td>
                    <td>@ViewBag.Alunos[i].Cpf</td>
                    <td>@ViewBag.Alunos[i].Nota_1</td>
                    <td>@ViewBag.Alunos[i].Nota_2</td>
                    <td>@ViewBag.Alunos[i].Nota_3</td>

                    <td>
                        <a href="/aluno/alterar?id=@ViewBag.Alunos[i].Id">Editar</a>
                        <a href="/aluno/apagar?id=@ViewBag.Alunos[i].Id">Apagar</a>
                    </td>
                </tr>

            }

        </tbody>

        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Ação</th>
            </tr>
        </tfoot>
    </table>








</body>
</html>
